body {
    margin-top: 10%;
}

.center{
    margin-left: auto;
    margin-right:  auto;
    padding: 3px;
    
}

td {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 4em;
    padding: 10px;
    opacity: 0.3;
    font-family: "comic sans ms";
}

td:hover {
	color: red;
	opacity: 1.0;
}



